#titulo{
    text-align: center;
}
.cadastra_principal{
    margin:0 auto;
    margin-top: 40px;
    line-height: 75px;
}
input[type=text]{
    height: 40px;
    width: 75%;
    margin-left: 5px;
    font-size: 18pt;
}
#nome_tarefa{
    width: 81%;
}
input[type=text]:focus{
    border: 3px solid #000;
}
select{
    font-size: 18pt;
    width: 37%;
}
textarea{
    width:79%;
    font-size: 18pt;
}
.botao{
    margin-left: 20px;
}
